<div class="container-fluid p-0">
    <div class="row g-0">
        <div class="col-lg-3 col-md-6">
            <a href="/quiz1/profile/" class="image-card">
            <img src="/quiz1/img/project1.jpg" alt="Leadership" class="img-fluid">
            <div class="card-overlay">
                <h3 class="card-title-overlay">Leadership & Management</h3>
                <p class="card-text-overlay">Leading teams and coordinating projects.</p>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6">
        <a href="/quiz1/profile/" class="image-card">
            <img src="/quiz1/img/project2.jpg" alt="Innovation" class="img-fluid">
            <div class="card-overlay">
                <h3 class="card-title-overlay">Innovation Projects</h3>
                <p class="card-text-overlay">Developing solutions from concept to execution.</p>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6">
        <a href="/quiz1/profile/" class="image-card">
            <img src="/quiz1/img/project3.jpg" alt="Creative Tech" class="img-fluid">
            <div class="card-overlay">
                <h3 class="card-title-overlay">Creative Technology</h3>
                <p class="card-text-overlay">Blending technology with creative concepts.</p>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6">
        <a href="/quiz1/profile/" class="image-card">
            <img src="/quiz1/img/project4.jpg" alt="Development" class="img-fluid">
            <div class="card-overlay">
                <h3 class="card-title-overlay">Professional Development</h3>
                <p class="card-text-overlay">Engaging in continuous learning.</p>
            </div>
        </a>
    </div>
</div>